## Sindhura Alla (U06443828)

### 1. Importing packages

In [1]:
import pymongo
import credentials
import json
import pandas as pd
import bson.json_util as bju

### 2. Connecting to MongoDB

In [2]:
connection_string = f"mongodb+srv://{credentials.username}:{credentials.password}@cluster06443828.ev8rtbf.mongodb.net/?retryWrites=true&w=majority"
client = pymongo.MongoClient(connection_string)
# Cluster06443828 database was already created in the project
db = client["Cluster06443828"]

### 3. Loading data to MongoDB
    
1. Dataset is obtained from https://catalog.data.gov/dataset/death-rates-for-suicide-by-sex-race-hispanic-origin-and-age-united-states-020c1
2. Data is available in different formats but for the purpose of the assignment, data is downloaded as csv and converted to json format
3. Details<br/>
    a. Death rate for suicides in United states <br/>
    b. Categorized sex, race, Hispanic origin, and age <br/>
    c. Rate is number of suicides per 100,000 residents

#### 3.1 Loading data from csv

In [3]:
data_df = pd.read_csv("deathrate.csv")
data_df.columns = ["_".join(col.lower().split(" ")) for col in data_df.columns]
data_df.head()

,indicator,unit,unit_num,stub_name,stub_name_num,stub_label,stub_label_num,year,year_num,age,age_num,estimate,flag
0,Death rates for suicide,"Deaths per 100,000 resident population, age-ad...",1,Total,0,All persons,0.0,1950,1,All ages,0.0,13.2,NaN
1,Death rates for suicide,"Deaths per 100,000 resident population, age-ad...",1,Total,0,All persons,0.0,1960,2,All ages,0.0,12.5,NaN
2,Death rates for suicide,"Deaths per 100,000 resident population, age-ad...",1,Total,0,All persons,0.0,1970,3,All ages,0.0,13.1,NaN
3,Death rates for suicide,"Deaths per 100,000 resident population, age-ad...",1,Total,0,All persons,0.0,1980,4,All ages,0.0,12.2,NaN
4,Death rates for suicide,"Deaths per 100,000 resident population, age-ad...",1,Total,0,All persons,0.0,1981,5,All ages,0.0,12.3,NaN

In [4]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6390 entries, 0 to 6389
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   indicator       6390 non-null   object
 1   unit            6390 non-null   object
 2   unit_num        6390 non-null   int64
 3   stub_name       6390 non-null   object
 4   stub_name_num   6390 non-null   int64
 5   stub_label      6390 non-null   object
 6   stub_label_num  6390 non-null   float64
 7   year            6390 non-null   int64
 8   year_num        6390 non-null   int64
 9   age             6390 non-null   object
 10  age_num         6390 non-null   float64
 11  estimate        5484 non-null   float64
 12  flag            906 non-null    object
dtypes: float64(3), int64(4), object(6)
memory usage: 649.1+ KB

#### 3.2 Converting dataframe to json data

In [5]:
json_file = 'deathrate.json'
data_df.to_json(json_file, orient='records')

#### 3.3 Loading json to MongoDB

In [6]:
file = open(json_file)
data_json = json.load(file)

# Create or connect to existing collection called crime_la
collection = db["death_rate_us"]
collection.insert_many(data_json)

### 4. Extracting average number of suicides in a decade for every group

#### 4.1 Get suicide rate per decade for all the groups (sex, race, Hispanic origin, and age)

##### Grouping stage
Group by decade and stub_label to get **average of estimate** (suicide rate per 100,000 residents)<br/>
- decade: Calculated by floor(year / 10) * 10. This will ensure to map year to decade start. EX: 1960 - 1969 will be mapped to 1960 decade<br/>
- stub_label: Label defining grouping. Different label is already defined for possible combinations of sex, race, Hispanic origin, and age<br/>
    
##### Project stage
Reshape document results<br/>
- Since aggregate was performed on id dict, use project stage to reshape data to different fields<br/>
- Exclude _id field from final output<br/>
- Extract decade and stub label from _id dict
- Finally include average estimate

##### Sort stage
Finally sort the data by decade and stub_label in ascending order

In [7]:
suicides_per_decade = collection.aggregate([
    {
        '$group': {
          '_id': {
            'decade': {'$multiply' : [{ '$floor': { '$divide': ['$year', 10] }}, 10]},
            'stub_label': "$stub_label"
          },
          'estimate': { '$avg': "$estimate" }
        }
    }, 
    {
        '$project': {
          '_id': 0,
          'decade': "$_id.decade",
          'stub_label': "$_id.stub_label",
          'estimate': 1
        }
    }, 
    {
        '$sort': {
            'decade': 1,
            'stub_label': 1
        }
    }
])

In [8]:
output = open("suicides_per_decade.json", "w")
output.write(bju.dumps(list(suicides_per_decade), indent=2))
output.close()
res_df = pd.DataFrame(json.load(open("suicides_per_decade.json")))
res_df.head()

   estimate  decade   stub_label
0       0.3  1950.0  10-14 years
1       2.7  1950.0  15-19 years
2       4.5  1950.0  15-24 years
3       6.2  1950.0  20-24 years
4       9.1  1950.0  25-34 years

### Summary
* Loaded data from https://catalog.data.gov/dataset/death-rates-for-suicide-by-sex-race-hispanic-origin-and-age-united-states-020c1
* Checking the details of the data
* In order to meet the requirement of uploading JSON data to the MongoDB altering the data frame to JSON format and uploading the data. 
* Created Collection and input the data into Mongo DB and analysing the data 
* Aggregating the data based on the year
* Saving the output into JSON file format.